/vendor/srt/
# Ignore node_modules directory
node_modules/
.env
.envtest

# Ignore log files
*.log

# Ignore compiled files
*.class
*.pyc
*.o

# Ignore editor files
.vscode/
.idea/
.claude/

profiles.json

# Ignore .DS_Store files (for macOS)
.DS_Store
letsencrypt
bin/
obj/
.claude/
