.session-list {
    display: flex;
    flex-direction: column;
    width: 20rem;
    color: black;
    overflow: auto;
}

.session-line {
    display: flex;
    gap:0.5rem;
    align-items: center;
    padding: 0.5rem;
    margin: 0;
    list-style-type: none;
    cursor: pointer;
}

.session-line:hover {
    text-decoration: underline;
}

.session-line[selected] {
    background-color: var(--highlight-color);
    color:var(--highlight-color-text);
    /*order:-1;*/
}


.session-status {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid black;
    border-radius: 1rem;
}

.session-line[status="on"] .session-status {
    background-color: #04b604;
}



#reader {
    width: 800px;
    display: flex;
    flex-direction: column;
    flex:1;
    background-color: white;
    border: 1px solid lightgray;
    padding: 1rem;
}

#reader-action {
    display: flex;
    gap: 1rem;
    /*justify-content: end;*/
    border-bottom: 1px solid lightgray;
}

#reader-title {
    flex:1;
    margin: 0;
}

#channel-selector {
    margin: 0;
}

#reader-content {
    overflow: auto;
    flex: 1;
}